<div class="wrapper-card"
     [ngClass]="{'reverse': isReverse}">
  <div class="cur-1">
      <mat-card style="border: 2px solid #a09a9a">
        <mat-card-content>
          <mat-select
                #selectFlagOne
                [formControl]="countryControl1"
                placeholder="Currency 1">
              <mat-option>
                  <ngx-mat-select-search
                    [formControl]="filterForCountryControl1" >
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let country of filteredCountries1 | async"
                            [value]="country">
                  <img src="https://countryflagsapi.com/svg/{{country.flag}}" alt="Andorra flag" width="40" height="40"/>
                  {{country.title }} - {{country.fullName}}
                </mat-option>
            </mat-select>
        </mat-card-content>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input #currencyInputOne
                 [formControl]="amountCurrency1"
                 matInput placeholder="Count" value=""
                 type="number">
        </mat-form-field>
      </mat-card>
  </div>
  <div class="btn-img">
    <button mat-button
            (click)="isReverse = !isReverse">
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </div>
  <div class="cur-2">
    <mat-card style="border: 2px solid #a09a9a">
      <mat-card-content>
        <mat-select
          #selectFlagTwo
          [formControl]="countryControl2"
          placeholder="Currency 2"
          >
          <mat-option >
            <ngx-mat-select-search [formControl]="filterForCountryControl2" >
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let country of filteredCountries2 | async" [value]="country">
            <img src="https://countryflagsapi.com/svg/{{country.flag}}" alt="Andorra flag" width="40" height="40"/>
            {{country.title }} - {{country.fullName}}
          </mat-option>
        </mat-select>
      </mat-card-content>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input #currencyInputTwo
               [formControl]="amountCurrency2"
               matInput placeholder="Count" value=""
               type="number">
      </mat-form-field>
    </mat-card>
  </div>
</div>
