.wrapper-card {
  display: flex;
  align-items: center;

  .cur-1 {
    width: 350px;
  }
  .cur-2 {
    width: 350px;
  }
}

.check-btn {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-mat {
  display: flex;
}
